# Logs
/flex_vue/logs
/flex_vue/*.log
/flex_vue/npm-debug.log*
/flex_vue/yarn-debug.log*
/flex_vue/yarn-error.log*
/flex_vue/pnpm-debug.log*
/flex_vue/lerna-debug.log*

/flex_vue/node_modules
/flex_vue/.DS_Store
/flex_vue/dist
/flex_vue/dist-ssr
/flex_vue/coverage
/flex_vue/*.local

/flex_vue/cypress/videos/
/flex_vue/cypress/screenshots/

# Editor directories and files
/flex_vue/.vscode/*
!/flex_vue/.vscode/extensions.json
/flex_vue/.idea
/flex_vue/*.suo
/flex_vue/*.ntvs*
/flex_vue/*.njsproj
/flex_vue/*.sln
/flex_vue/*.sw?

# Ignore .vs directory under FlexCore
/FlexCore/.vs
/FlexCore/FlexCoreService/bin/
/FlexCore/FlexCoreService/obj/
/FlexCore/EFModels/obj/
/FlexCore/EFModels/bin/
